.usersWrapper {
  display: flex;
  justify-content: space-between;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;

  font-size: 18px;
  line-height: 24px;

  margin-bottom: 30px;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}
